@tailwind base;
@tailwind components;
@tailwind utilities;

.roboto{
  font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1180px;
  padding: 0px 8px;
  margin: 0px auto;
}


.navbar-container {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure the navbar stays on top */
  display: flex;
  justify-content: center;
}

body {
  padding-top: 60px; /* Adjust based on the height of your navbar */
}
